<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC lecture</title>
    <link rel="stylesheet" href="css/lecture.css">
</head>
<body>
    <!-- <h1>Create A Todo List By Clicking The Button Below</h1>
    <a href="/todos"> New Todo List</a> -->
    <h1 class="h1-color-1">Welcome to Greenwindbreaker's lecture on MVC</h1>
    <img src="https://i.ibb.co/KLgWPth/IMG-1044.jpg" class="turtle" alt="mall turtle, won at $1 crane game">
    <p>click the link below to start the lecture</p>
    <a href="/start">START</a>
</body>
</html>