<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC lecture</title>
    <link rel="stylesheet" href="css/lecture.css">
</head>
<body>
    <!-- <h1>Create A Todo List By Clicking The Button Below</h1>
    <a href="/todos"> New Todo List</a> -->
    <h1 class="h1-color-2">Putting it all together</h1>
    <img src="https://i.ibb.co/z4QH7j4/IMG-1052.jpg" class="last-img" alt="flow of MVC">
    <h3>Using this page as an example.</h3>
    <p>When a user refreshes this page -> the controller hears the GET request and tells the view to render 'pagefive.ejs' -> the view displays the page you see now.</p>
    <p>When a user adds a comment on this page -> the controller hears the POST request and tells the model to add some shit to the database. the model takes the data and passes it to the database. the model reports back to the controller. the controller tells the view to refresh.</p>
    <h3>Add a comment about the flow of MVC below:</h3>
    <ul>
        <% pagefives.forEach( el => { %>
            <li class='pagefiveItem' data-id='<%=el._id%>'><!--  data-id property, and we can plug anything we want into it. we can change the name to whatever we want ex data-pony. el is the element, el represnts a document. a parameter that will be holding our document or object each time it runs. our objects are coming from our collections.  <%=el._id%> _id will gives the id from our documents it self.--> 
                <span ><%= el.pagefive %></span>
                <span class='del delete-emoji'> 💣 </span>
            </li>
        <% }) %>    
        </ul>
        <form action='/pagefive/createPagefive' method='POST'>
            <input type="text" placeholder="Type your comment here" name='pagefiveItem' class="text-field">
            <input type="submit">
        </form>
    
    <section class="zenter">
        <a href="/" class="emoji-size-up">🏠</a>
        <a href="/pagefour" class="emoji-size-up">⬅️</a>
        <!-- <a href="/pagesix" class="emoji-size-up">➡️</a> -->
    </section>

    <script src="js/pagefive.js"></script>
</body>
</html>