<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC lecture</title>
    <link rel="stylesheet" href="css/lecture.css">
</head>
<body class="bg-glizzy">
    <!-- <h1>Create A Todo List By Clicking The Button Below</h1>
    <a href="/todos"> New Todo List</a> -->
    <h1 class="h1-color-2">What is the Controller?</h1>
    <img src="https://i.ibb.co/yymDgH5/IMG-1049.jpg" class="pagetwo-img" alt="hot dog">
    <h3>The controller handles all CRUD requests from the user</h3>
    <p>It tells the view what to do. It asks for data from the model and gives that data to the view.</p>
    <h3>Add a comment about the Controller below:</h3>
    <ul>
        <% pagefours.forEach( el => { %>
            <li class='pagefourItem' data-id='<%=el._id%>'><!--  data-id property, and we can plug anything we want into it. we can change the name to whatever we want ex data-pony. el is the element, el represnts a document. a parameter that will be holding our document or object each time it runs. our objects are coming from our collections.  <%=el._id%> _id will gives the id from our documents it self.--> 
                <span ><%= el.pagefour %></span>
                <span class='del delete-emoji'> 💣 </span>
            </li>
        <% }) %>    
        </ul>
        <form action='/pagefour/createPagefour' method='POST'>
            <input type="text" placeholder="Type your comment here" name='pagefourItem' class="text-field">
            <input type="submit">
        </form>

        <p class="bbb">OOO</p>

    <section class="zenter">
        <a href="/" class="emoji-size-up">🏠</a>
        <a href="/pagethree" class="emoji-size-up">⬅️</a>
        <a href="/pagefive" class="emoji-size-up">➡️</a>
    </section>

    <script src="js/pagefour.js"></script>
</body>
</html>